language: python
python: "3.6"
env:
  - TOXENV=py27
  - TOXENV=py34
  - TOXENV=py36
matrix:
  include:
  - python: "3.5"
    env: TOXENV=py35
install:
  - pip install tox coveralls
script: tox
after_success:
  if [ "$TOXENV" == "py27" ]; then coveralls; fi
